*{
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
} 

header {
    background-color: black;
    color: white;
    text-align: center;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: "agbalumo";
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-family: "agbalumo";
}

section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: "agbalumo";
    font-size: 2.4vw;
}

section > p {
    text-align: justify;
    font-weight: bolder;
}

section.normal { 
    background-color: white;
    color: black;
}

section.imagem  {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    width: 400px;
    display: inline-block;
    padding:  5px;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 1px 1px 0px black;
    background-color: rgba(0, 0, 0, 0.351);
    color: white;
}

section#img01 {
    background-image: url('../images/aesthetic-anime-purple-lo-fi-backgrounds.jpg');
    background-position: right center;
    
}

section#img02 {
    background-image: url('../images/konoha.jpeg');

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color:white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    html, body {
        font-size: 16px; /* Adjust the font size for better readability on smaller screens */
    }

    header > h1 {
        font-size: 6vw; /* Adjust the font size for the header on smaller screens */
    }

    section {
        font-size: 3.6vw; /* Adjust the font size for sections on smaller screens */
    }

    section > p {
        font-weight: normal; /* Reset the font weight for paragraphs in sections */
    }
    
    section.imagem > p {
        width: auto; /* Allow the text to take the available width on smaller screens */
    }
}